@charset "UTF-8";
html{
    background: #ecf0f1;
    width:100%;
    height:100%;
    overflow-x:hidden
}

main {
    font-family: "Noto Sans KR", sans-serif;
    width:100%;
    height:100%;
}

#adm_page {
    margin-left: 16%;
    margin-top: 5%;
    color: gray;
}
select {
    height: 30px;
    border: none;
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
    border-radius: 10px;
}   

.border{
    border: none;
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
}
input{
    height: 30px;
    border-radius: 10px;
    margin-right: 10px;
}
select:focus{
    outline: none;
    border: 2px solid #64d488;
  }
input:focus{
    outline: none;
    border: 2px solid #64d488;
  }

.top_text {
    display: flex;
    width: 100%;
    padding-left: 16%;
}

.searchGbn {
	margin-right : 10px;
}

.search_box {
    position: absolute;
    padding-left: 50%;
    padding-top: 2px;
}


/* 표 */
.side_box {
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
    padding: 20px;
    margin: 20px;
    height: 400px;
    width: 1295px;
    margin-left: 16%;
    background: white;
    border-radius: 10px;
}

table {
  border-collapse:collapse;
  box-shadow: 0 5px 10px #e1e5ee;
  background-color:white;
  text-align:left;
  overflow:hidden;
  width : 100%;
}
thead {
   box-shadow:0 5px 10px #e1e5ee;
}
th {
   padding :1rem 2rem;
   text-transform:uppercase;
   letter-spacing:0.1rem;
   font-size:0.7rem;
   font-weight:900;
   text-align:center;
}
td {
   padding : 1rem 2rem;
   font-size:0.7rem;
   text-align:center;
}
tr:nth-child(even) {
   background-color: #f4f6fb;
}
 tbody tr:hover{
   opacity:.4;
}  
.paging {
	float : left;
}
.paging_wrap {
    position: relative;
    clear: both;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    margin: 0 220%;
}

.paging_wrap h3, .paging_wrap b, .paging_wrap p {
    display: inline-block;
    position: relative;
    min-width: 28px;
    padding: 6px 4px 7px;
    border: 1px solid #fff;
    font-size: 13px;
    font-weight: normal;
    color: #444;
    line-height: 13px;
    text-decoration: none;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.paging_wrap h3:hover, .paging_wrap b {
    border: 1px solid #e0e0e0;
    color: #3f63bf;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

.paging_wrap p:hover {
	cursor: pointer;
	color: #9f9f9f;	
} 


/* 버튼 */
#actionForm{
	width:390px;
}

.search_btn {
    display: inline-block;
    position: relative;
    color: black;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    transition: 0.5s;
    cursor: pointer;
    width: 60px;
    height: 30px;
    border: none;
    border-radius: 7px;
    background: #ffc107;
}

.search_btn:hover {
    opacity: .8;
}

@media ( max-width : 1450px) {
	.side_box {
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
    padding: 20px;
    margin: 20px;
    height: 585px;
    width: 842px;
    margin-left: 2%;
    background: white;
    border-radius: 10px;
	}
	
	th {
	    padding: 5px 0px;
	    text-transform: uppercase;
	    letter-spacing: 0.1rem;
	    font-size: 0.7rem;
	    font-weight: 900;
	    text-align: center;
	}
	
	#adm_page {
    margin-left: 3%;
    margin-top: 5%;
    color: gray;
	}
	
	.search_box {
	    position: absolute;
	    padding-left: 55%;
	    padding-top: 2px;
	}
	.top_text {
    display: flex;
    width: 100%;
    padding-left: 3%;
	}
	
	
}	