@charset "UTF-8";

:root {
    font-size: 10px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    min-height: 100vh;
    background-color: #fafafa;
    color: #262626;
    padding-bottom: 3rem; 
    overflow-x:hidden;
}

.hidden_menu{
    width: 900px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
}
.follow_next{
	margin-right: 10px;
    width: 26px;
    height: 26px;
    top: 41%;
    right:0;
    position: absolute;
    cursor: pointer;
    z-index: 2; 
    background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='chevron-circle-right' class='svg-inline--fa fa-chevron-circle-right fa-w-16' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='rgba(229,229,229)' d='M256 8c137 0 248 111 248 248S393 504 256 504 8 393 8 256 119 8 256 8zm113.9 231L234.4 103.5c-9.4-9.4-24.6-9.4-33.9 0l-17 17c-9.4 9.4-9.4 24.6 0 33.9L285.1 256 183.5 357.6c-9.4 9.4-9.4 24.6 0 33.9l17 17c9.4 9.4 24.6 9.4 33.9 0L369.9 273c9.4-9.4 9.4-24.6 0-34z'%3E%3C/path%3E%3C/svg%3E");
}
.follow_prev{
	margin-left: 10px;
    width: 26px;
    height: 26px;
    top: 41%;
    left:0;
    position: absolute;
    cursor: pointer;
    z-index: 2;
    background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='chevron-circle-left' class='svg-inline--fa fa-chevron-circle-left fa-w-16' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='rgba(229,229,229)' d='M256 504C119 504 8 393 8 256S119 8 256 8s248 111 248 248-111 248-248 248zM142.1 273l135.5 135.5c9.4 9.4 24.6 9.4 33.9 0l17-17c9.4-9.4 9.4-24.6 0-33.9L226.9 256l101.6-101.6c9.4-9.4 9.4-24.6 0-33.9l-17-17c-9.4-9.4-24.6-9.4-33.9 0L142.1 239c-9.4 9.4-9.4 24.6 0 34z'%3E%3C/path%3E%3C/svg%3E");
}
.hidden_menu .scroll_inner{
    height: 130px;
    width: auto;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    padding: 0 40px;
	scroll-behavior: smooth;
}

.hidden_menu .scroll_inner .user{
   	width: 80px;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 15px;
    justify-content: space-between;
    position: relative;
    bottom: 35px;
}
.hidden_menu .scroll_inner .user .rec_id .fo_id{
    font-size: 12px;
    color:#262626;
}
.hidden_menu .thumb_img{
    width: 66px;
    height: 65px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    left: 8px;
}

.hidden_menu .thumb_img img{
    width: 100%;
    height: 100%;
}
.add_story_area{
	display: flex;
    width: 77px;
    height: 70px;
    position: relative;
    align-content: center;
    justify-content: center;
}
.story_icon{
	cursor:pointer;
    position: absolute;
    width: 80px;
    height: 80px;
    bottom: 0px;
}
.story_icon:hover{
	filter:opacity(.5);
}
.add_story_span{
	font-size: 10pt;
    font-weight: bold;
    position: absolute;
    top: 78px;
}
.follow_btn{
	background-color: #0095f6;
    color: white;
    border: 0px;
    cursor: pointer;
    width: 130px;
    border-radius: 7px;
    margin-left: 10px;
    padding: 5px;
}
.follow_btn:hover {
    opacity: 0.4;
}
.unfollow_btn{
	font-size: 1.4rem;
    line-height: 1.8;
    border: 0.1rem solid #dbdbdb;
    border-radius: 0.3rem;
    padding: 0 2.4rem;
    margin-left: 2rem;
}
.unfollow_btn:hover {
    opacity: 0.4;
}
.follow_area{
	margin-top: 5px;
}
img {
    display: block;
}
.profile-user-settings {
        display: inline-flex;
    	min-width: 500px;
}

.sliderContainer {
  position: absolute;
  top: 13%;
  left: 36%;
}

.slide-arrow {
  position: absolute;
  cursor: pointer;
  top: 50%;
  transform: translatey(-50%);
}

.next-arrow {
  right: -20px;
}

.prev-arrow {
  left: -20px;
}
.story_box{
	width:100%;
	height:100%;
}
.slider {
  width: 500px;
  margin: 30px 50px 50px;
}

.slick-slide {
    padding: 80px 0 120px;
    position: relative;
    top: 90px;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}

.slick-dots {
  bottom: -30px;
}

.progressBarContainer {
   position: absolute;
    width: 300px;
    left: 150px;
    top: -10px;
}

.progressBarContainer div {
  display: block;
  width: 30%;
  padding: 0;
  cursor: pointer;
  margin-right: 5%;
  float: left;
  color: white;
}

.progressBarContainer div:last-child {
  margin-right: 0;
}

.progressBarContainer div span.progressBar {
  width: 100%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.4);
  display: block;
}

.progressBarContainer div span.progressBar .inProgress {
  background-color: white;
  width: 0%;
  height: 2px;
  border-radius: 5px;
}
.exit{
	font-size: 30pt;
    color: white;
    position: absolute;
    right: 35px;
    top: 35px;
}
.exit:hover{
	color:#dbdbdb;
}
.modal {
    display: none; 
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}
    
.modal-content {
    display: flex;
    background-color: #fefefe;
    margin: 5% auto;
    border: 1px solid #888;
    max-width: 970px;
    height: 750px;
    max-height: 800px;     
    border:2px solid rgba(239,239,239,1);   
    border-radius: 10px;        
}
.modal_img{
    width: 550px;
    max-width: 600px;
    height: 750px;
    margin:0px;
}
.modal_box{
    width: 420px;
    min-width: 370px;
    height: 750px;
    margin:0px;
}

/* The Close Button */
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
        padding: 18px 25px 0px 0px;
    }
    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
     .bottom_icons{
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px 20px 0px 20px;
}

 .bottom_icons .left_icons{
    display: flex;
}

 .bottom_icons .left_icons > div{
    cursor:pointer;
}

 .bottom_icons .right_icon > div{
    cursor: pointer;
}
.sprite_bubble_icon {
	margin-right: 10px;
    display: inline-block;
    width: 24px;
    height: 24px;
}
.heart_btn{
    width: 32px;
}
.f_size{
    font-size: 21px;
}
.likes{
    padding: 5px 20px;
    color:#262626;
}
.comment_container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}
.comment_container .comment{
    display:flex;
    flex-direction: column;
    font-size: 14px;
}
 .comment_container .comment-detail{
    display: flex;
}
svg {
    cursor: pointer;
    overflow: visible;
    width: 38px;
    left: 3;
    position: relative;
    right: 10px;
    bottom: 8px;
  }
  svg #heart {
    transform-origin: center;
    animation: animateHeartOut 0.3s linear forwards;
  }
  svg #main-circ {
    transform-origin: 29.5px 29.5px;
  }
  
  #checkbox {
    display: none;
  }
  .nav_line{
  	display: flex;
    width: 100%;
    align-content: center;
    justify-content: center;
    max-height:60px;
  }
  .btn_area{
  	width: 900px;
  }
  .photo_add{
  	display: flex;
    width: 100px;
    height: 35px;
    background: #0095f6;
    float: right;
    outline: none;
    border: 0px;
    border-radius: 7px;
    color: white;
    font-weight: bold;
    justify-content: center;
    align-items: center;   
    margin-bottom: 15px;
  }
  .photo_add:hover{
  	cursor:pointer;
  	opacity:.6;
  }
  .photo_add:active{
  	cursor:pointer;
  	opacity:.4;
  }
  .btn_font{
  	font-size:12pt;
  }
  .fa-plus-square{
  	font-size:15pt;
  }
  .nav_hr{
  	border-bottom:0px;
  	background-color:#dbdbdb !important;
  	width:900px;
  	text-align:center;
  	margin: 0px auto;
  }
  .nav_list_post{
  	position: relative;
  	display: flex;
    bottom: 11px;
  	font-size:12pt;
  	font-weight:600;
  	flex-direction: row;
  	padding-top:10px;
  	font-size: 11pt;
  }
  .menu_post{
  	display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
  	cursor:pointer;
  	border-top: 2px solid #262626; 	
  	padding-top: 10px;
  	color: #262626;
  }
  .menu_post2{
 	display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
  	cursor:pointer;
  	margin-left: 60px;
  	padding: 10px 10px 0px 10px;
  	color:#8e8e8e;
  }
  .menu_post3{
 	display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
  	cursor:pointer;
  	margin-left: 60px;
  	padding: 10px 10px 0px 10px;
  	color:#8e8e8e;
  }
  .nav_list_post:link {	
  	color:#dbdbdb;
  }
  .nav_list_post:visited {
	color: #262626;
  }

  .img_size{
    	width:505px;
    	height:505px;
   }    	
   .nav_menu{
    	max-height: 300px;
   }
   .nav_list{
   		display: flex;
    	height: 50px;
    	justify-content: center;
   }
   .menu_icon1{
   		width: 17px;
    	height: 17px;
    	margin-right: 5px;
   }
   .menu_icon2{
   		width: 17px;
    	height: 17px;
    	margin-right: 5px;
   }
   .menu_icon3{
   		width: 17px;
    	height: 17px;
    	margin-right: 5px;
   }
   .nav_list_post{
   		margin-left:6px;
   }
  #checkbox:checked + label svg #heart {
    transform: scale(0.2);
    fill: #E2264D;
    stroke:#E2264D;
    stroke-width:"3";
    animation: animateHeart 0.3s linear forwards 0.25s;
  }
  #checkbox:checked + label svg #main-circ {
    transition: all 2s;
    animation: animateCircle 0.3s linear forwards;
    opacity: 1;
  }
  #checkbox:checked + label svg #grp1 {
    opacity: 1;
    transition: 0.1s all 0.3s;
  }
  #checkbox:checked + label svg #grp1 #oval1 {
    transform: scale(0) translate(0, -30px);
    transform-origin: 0 0 0;
    transition: 0.5s transform 0.3s;
  }
  #checkbox:checked + label svg #grp1 #oval2 {
    transform: scale(0) translate(10px, -50px);
    transform-origin: 0 0 0;
    transition: 1.5s transform 0.3s;
  }
  #checkbox:checked + label svg #grp2 {
    opacity: 1;
    transition: 0.1s all 0.3s;
  }
  #checkbox:checked + label svg #grp2 #oval1 {
    transform: scale(0) translate(30px, -15px);
    transform-origin: 0 0 0;
    transition: 0.5s transform 0.3s;
  }
  #checkbox:checked + label svg #grp2 #oval2 {
    transform: scale(0) translate(60px, -15px);
    transform-origin: 0 0 0;
    transition: 1.5s transform 0.3s;
  }
  #checkbox:checked + label svg #grp3 {
    opacity: 1;
    transition: 0.1s all 0.3s;
  }
  #checkbox:checked + label svg #grp3 #oval1 {
    transform: scale(0) translate(30px, 0px);
    transform-origin: 0 0 0;
    transition: 0.5s transform 0.3s;
  }
  #checkbox:checked + label svg #grp3 #oval2 {
    transform: scale(0) translate(60px, 10px);
    transform-origin: 0 0 0;
    transition: 1.5s transform 0.3s;
  }
  #checkbox:checked + label svg #grp4 {
    opacity: 1;
    transition: 0.1s all 0.3s;
  }
  #checkbox:checked + label svg #grp4 #oval1 {
    transform: scale(0) translate(30px, 15px);
    transform-origin: 0 0 0;
    transition: 0.5s transform 0.3s;
  }
  #checkbox:checked + label svg #grp4 #oval2 {
    transform: scale(0) translate(40px, 50px);
    transform-origin: 0 0 0;
    transition: 1.5s transform 0.3s;
  }
  #checkbox:checked + label svg #grp5 {
    opacity: 1;
    transition: 0.1s all 0.3s;
  }
  #checkbox:checked + label svg #grp5 #oval1 {
    transform: scale(0) translate(-10px, 20px);
    transform-origin: 0 0 0;
    transition: 0.5s transform 0.3s;
  }
  #checkbox:checked + label svg #grp5 #oval2 {
    transform: scale(0) translate(-60px, 30px);
    transform-origin: 0 0 0;
    transition: 1.5s transform 0.3s;
  }
  #checkbox:checked + label svg #grp6 {
    opacity: 1;
    transition: 0.1s all 0.3s;
  }
  #checkbox:checked + label svg #grp6 #oval1 {
    transform: scale(0) translate(-30px, 0px);
    transform-origin: 0 0 0;
    transition: 0.5s transform 0.3s;
  }
  #checkbox:checked + label svg #grp6 #oval2 {
    transform: scale(0) translate(-60px, -5px);
    transform-origin: 0 0 0;
    transition: 1.5s transform 0.3s;
  }
  #checkbox:checked + label svg #grp7 {
    opacity: 1;
    transition: 0.1s all 0.3s;
  }
  #checkbox:checked + label svg #grp7 #oval1 {
    transform: scale(0) translate(-30px, -15px);
    transform-origin: 0 0 0;
    transition: 0.5s transform 0.3s;
  }
  #checkbox:checked + label svg #grp7 #oval2 {
    transform: scale(0) translate(-55px, -30px);
    transform-origin: 0 0 0;
    transition: 1.5s transform 0.3s;
  }
  #checkbox:checked + label svg #grp2 {
    opacity: 1;
    transition: 0.1s opacity 0.3s;
  }
  #checkbox:checked + label svg #grp3 {
    opacity: 1;
    transition: 0.1s opacity 0.3s;
  }
  #checkbox:checked + label svg #grp4 {
    opacity: 1;
    transition: 0.1s opacity 0.3s;
  }
  #checkbox:checked + label svg #grp5 {
    opacity: 1;
    transition: 0.1s opacity 0.3s;
  }
  #checkbox:checked + label svg #grp6 {
    opacity: 1;
    transition: 0.1s opacity 0.3s;
  }
  #checkbox:checked + label svg #grp7 {
    opacity: 1;
    transition: 0.1s opacity 0.3s;
  }
  
  @keyframes animateCircle {
    40% {
      transform: scale(10);
      opacity: 1;
      fill: #DD4688;
    }
    55% {
      transform: scale(11);
      opacity: 1;
      fill: #D46ABF;
    }
    65% {
      transform: scale(12);
      opacity: 1;
      fill: #CC8EF5;
    }
    75% {
      transform: scale(13);
      opacity: 1;
      fill: transparent;
      stroke: #CC8EF5;
      stroke-width: 0.5;
    }
    85% {
      transform: scale(17);
      opacity: 1;
      fill: transparent;
      stroke: #CC8EF5;
      stroke-width: 0.2;
    }
    95% {
      transform: scale(18);
      opacity: 1;
      fill: transparent;
      stroke: #CC8EF5;
      stroke-width: 0.1;
    }
    100% {
      transform: scale(19);
      opacity: 1;
      fill: transparent;
      stroke: #CC8EF5;
      stroke-width: 0;
    }
  }
  @keyframes animateHeart {
    0% {
      transform: scale(0.2);
    }
    40% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes animateHeartOut {
    0% {
      transform: scale(1.4);
    }
    100% {
      transform: scale(1);
    }
  }
.user_container{
    display: flex;
    padding: 20px 0px 0px 20px;
}
.nick_name{
    padding-top: 6px;
}
.timer{
    font-size: 10px;
    letter-spacing: 0.2px;
    color:#999;
    padding: 0px 10px 5px 20px;
}
.modal_con{
    height: 150px;
    padding: 0px 10px 0px 20px;
    overflow: auto;
    font-size: 10pt;
    font-weight: 500;
}

.modal_cmt{
	height: 310px;
    overflow: auto;
}
.modal_cmt::-webkit-scrollbar{
	width: 5px;
	color: white;
}
.modal_cmt::-webkit-scrollbar-thumb{
	background-color: gray;
	border-radius:3px;
}
.gallery-item-type {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2.5rem;
    text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
}
.gallery-item-type1{
	display: flex;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    font-size: 2.5rem;
    text-shadow: 0.2rem 0.2rem 0.2rem rgb(0 0 0 / 10%);
    align-items: center;
    flex-direction: row;
}
.profile_img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow:hidden;
    margin-right: 10px;
}
.profile_img img{
   	border-radius: 70%;
    width: 100%;
    height: 100%;
}

.cmt_head{
    min-height: 80px;
    border-bottom:2px solid rgba(239,239,239,1);
}
.cmt_sec1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; /*수직 정렬*/
    min-height: 435px;
    border-bottom:2px solid rgba(239,239,239,1);
}
.cmt_sec2{
    min-height: 100px;
    border-bottom:2px solid rgba(239,239,239,1);
}
.cmt_con{
    resize: none;
    outline: none;
    border: 1px solid white;
    width: 340px;
    height: 50px;
    padding-top: 16px;
}
.emoji_area{
	display: none;
	position: absolute;
    width: 400px;
    height: 300px;
    background: white;
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    bottom: 60px;
    overflow: auto;
}
.emoji_container{
	display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    overflow: auto;
}
.emoji_title{
	font-size: 11pt;
    font-weight: bold;
    padding: 10px;
}
.emo{
	cursor:pointer;
	font-size: 20pt;
}
.emoji{
	width: 100%;
    height: 600px;
    display: grid;
    grid-gap: 2px;
    grid-template-columns: repeat(8, 1fr);
}
.cmt_field{
    padding: 0 10px;
    position: relative;
    min-height: 56px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.fa-smile{
	font-size: 25pt;
    margin-right: 10px;
}
.head_text{
    font-size: 14px;
    font-weight: bold;
    padding-top:6px;
}
.ccon{
	 margin-left: 5px;
	 padding-top:6px;
}
.postMore{
	float: right;
    padding: 26px 32px 0px 0px;
    font-size: 13pt;
    color: #aaa;
}
.postMore:hover{
	color: rgb(38, 38, 38);
}
.cmtMore{
	font-size: 13pt;
    color: #aaa;
}
.cmtMore:hover{
	color: rgb(38, 38, 38);
}
.m_text{
    color:#3897f0;
    position: absolute;
    right: 20px;
    top: 50%;
    transform:translateY(-50%);
    cursor: pointer;
    /*pointer-events: none;*/
    opacity: 0.6;
}

.slider1 {
    max-width: 750px;
    margin: 0px auto 30px auto;
    position: relative;
  }

.slide-viewer {
    position: relative;
    overflow: hidden;
    height: 750px;
}

.slide-group {
    width: 100%;
    height: 100%;
    position: relative;
}
.slick-list{
	height: 850px;
    position: relative;
    background: black;
    bottom: 70px;
    border-radius: 9px;
}
.slide {
    width: 100%;
    height: 100%;
    display: none;
    position: relative;
    background: black;
    border-radius: 11px 0px 0px 9px;
    bottom: 3px;
}

.slide:first-child {
    display: block;
    }
.slide img {
    width: 100%;
    width: 100%;
	height: 100%;
	position: absolute;
    bottom: 0px;
    border-radius: 13px 0px 0px 8px;
}
.s_user_container{
	display: flex;
    padding-left: 20px;
    position: absolute;
    z-index: 10;
    top: 10px;
    left: 45px;
}
.s_user_name{
	display: flex;
    flex-direction: row;
}
.s_nick_name{
	color:white;
}
.s_date{
	color:#8e8e8e;
	margin-left:10px;
}
    /* slide-nav */
.slide-nav {
    width: 100%;
    position: absolute;
    top: 50%;
}
.sleft{
	position: absolute;
    font-size: 20pt;
    color: white;
    left: -38px;
}
.sleft:hover{
	color:#dbdbdb;
}
.sright{
	font-size: 20pt;
    position: absolute;
    color: white;
    right: -38px;
}
.sright:hover{
	color:#dbdbdb;
}
.slide-nav .next{
	margin-right: 10px;
    width: 26px;
    height: 26px;
    position: absolute;
    cursor: pointer;
    z-index: 2; 
    background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='chevron-circle-right' class='svg-inline--fa fa-chevron-circle-right fa-w-16' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='rgba(229,229,229)' d='M256 8c137 0 248 111 248 248S393 504 256 504 8 393 8 256 119 8 256 8zm113.9 231L234.4 103.5c-9.4-9.4-24.6-9.4-33.9 0l-17 17c-9.4 9.4-9.4 24.6 0 33.9L285.1 256 183.5 357.6c-9.4 9.4-9.4 24.6 0 33.9l17 17c9.4 9.4 24.6 9.4 33.9 0L369.9 273c9.4-9.4 9.4-24.6 0-34z'%3E%3C/path%3E%3C/svg%3E");
}
.slide-nav .prev {
	margin-left: 10px;
    width: 26px;
    height: 26px;
    position: absolute;
    cursor: pointer;
    z-index: 2;
    background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='chevron-circle-left' class='svg-inline--fa fa-chevron-circle-left fa-w-16' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='rgba(229,229,229)' d='M256 504C119 504 8 393 8 256S119 8 256 8s248 111 248 248-111 248-248 248zM142.1 273l135.5 135.5c9.4 9.4 24.6 9.4 33.9 0l17-17c9.4-9.4 9.4-24.6 0-33.9L226.9 256l101.6-101.6c9.4-9.4 9.4-24.6 0-33.9l-17-17c-9.4-9.4-24.6-9.4-33.9 0L142.1 239c-9.4 9.4-9.4 24.6 0 34z'%3E%3C/path%3E%3C/svg%3E");
}
.slide-nav .prev {
    left: 0;
}
.slide-nav .next {
    right: 0;
}
.lk_modal_header{
	height:100px;
}
.lk_modal_main{
	max-height: 500px;
    overflow: auto;
}

.lk_modal{
	position:fixed; 
	width:100%; 
	height:100%; 
	top:0px;
	left:0px;
	background: 
	rgba(0,0,0,0.4);
	margin:0 auto; 
	z-index:10;
	display:none;
}
.lk_modal_body{
	position: absolute; 
	top: 50%; 
	left: 50%; 
	width: 400px; 
	height: 600px; 
	text-align: center; 
	background-color: 
	rgb(255, 255, 255); 
	border-radius: 10px; 
	box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15); 
	transform: translateX(-50%) translateY(-50%);

}
.lk_modal_main{
	display: flex;
    flex-direction: column;
    margin-left: 15px;
}
.lk_modal_header{
	font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13pt;
    border-bottom: 1px solid rgba(0,0,0,0.09);
}
.lk_modal_close{
	position: absolute;
    right: 40px;
}
.lk_modal_close:hover{
	color:#aaa;
	position: absolute;
    right: 40px;
}
.modal_follow1{
	cursor : pointer;
	padding: 7px 10px 7px 10px;
    background: white;
    color: #262626;
    font-weight: bold;
    border: 1px solid #dbdbdb;
    border-radius: 7px;
    float:right;
}
.modal_follow2{
	cursor : pointer;
	padding: 7px 10px 7px 10px;
	color: white !important;
	font-weight: bold;
	border-radius: 7px;
	background: #0095f6;
	float:right;
}
.rec_user{
	display:inline-flex;
	padding-left:10px;	
}
.rec_user1{
	display:inline-flex;
	padding-left:10px;	
}
.profile_thumb{
    width: 34px;
    height: 34px;
}
 .profile_thumb{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow:hidden;
    margin-right: 10px;
}
.profile_thumb img{
    width: 100%;
    height:100%;
}
.detail{
    margin-bottom: 5px;
    font-size: 15px;
    color:#999;
}
.detail{
	display:inline-flex;
}
.modal_nick{
	color: #262626;
    font-weight: bold;
}
.modal_nick:hover{
	cursor : pointer;
	color: #262626;
	text-decoration: underline;
}
.modal_nick:link{
	color: #262626;
	text-decoration : none;
}
.modal_nick:visited{
	color: #262626;
	text-decoration : none;
}
.rec_user{
    display: flex;
    align-items: center;
    padding: 10px 20px;
}
.rec_user1{
    display: flex;
    align-items: center;
    padding: 10px 20px;
}
.rec_follow{
	position: relative;
	flex: 1;
	font-size: 12pt;
}
.follow_submit {
	float: right;
}
.search_area{
	position: absolute;
    top: 7px;
    left: 45%;
}
.search_text{
	height: 25px;
	outline: none;
    border: 1px solid #dbdbdb;
    border-radius: 7px;
    padding-left: 5px;
}
.user_area{
	display:none;
	position: absolute;
    width: 400px;
    height: 200px;   
    max-height: 500px;
    overflow: auto; 
    background: white;
    z-index: 100;
    left: 39%;
    top: 5%;
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
    border-radius: 10px;
}
.search_icon{
	color: #dbdbdb;
    position: absolute;
    right: 6px;
    top: 2px;
}
.rec_user1:hover{
	opacity:0.8;
	cursor:pointer;
}
.user_result{
	display:flex;
	flex-direction :column;
}
.detail1{
	display: inline-flex;
    flex-direction: column;
    font-size:11pt
}
.rec_id1{
	font-weight: bold;
}
.search_icon{
	color: #dbdbdb;
    position: absolute;
    right: 8px;
    top: 4px;
    font-size: 12pt;
}
/* button */
.slide-buttons {
    text-align: center;
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
}

.slide-btn {
  border: none;
  background: none;
  color: #a8a8a8;
  font-size: 300%;
  line-height: 0.5em;
  outline: none;
}

.slide-btn.active, .slide-btn:hover {
  color: #0095f6;
  cursor: pointer;
}
.container {
    max-width: 93.5rem;
    margin: 0 auto;
    padding: 0 2rem;
}

.btn {
    display: inline-block;
    font: inherit;
    background: none;
    border: none;
    color: inherit;
    padding: 0;
    cursor: pointer;
}

.btn:focus {
    outline: 0.5rem auto #4d90fe;
}

.visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

.pGradient{
	width: 80px;
    height: 80px;
    position: relative;
    top: 39px;
    left: 1px;
}

.pGradient circle{
	display: inline-block;
    width: 80px;
    height: 80px;
   	stroke-dasharray: 1360;
}
.title_area{
	position: absolute;
    top: 74px;
    font-size: 10pt;
    font-weight: bold;
}
.pGradient0:hover circle{
	animation: dash 4s linear;
	stroke-dasharray: 15 15;
}
 @keyframes dash {
      to {     	
        stroke-dashoffset: 800;
        stroke-dasharray: 100 0;
      }
 }
 .pGradient1{
 	display: flex;
 }
 .pGradient2{
	width: 42px;
    height: 42px;
    position: relative;
}

.pGradient2 circle{
	display: inline-block;
    width: 50px;
    height: 50px;
   	stroke-dasharray: 100;
}
/* Profile Section */

.profile {
    padding: 5rem 0;
}

.profile::after {
    content: "";
    display: block;
    clear: both;
}

.profile-image {
    float: left;
    width: calc(33.333% - 1rem);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3rem;
}

.profile-image img {
   	border-radius: 70%;
    width: 100%;
    height: 100%;
}
.pGradient5{
	height: 200px;
    width: 200px;
    left: 0px;
    display: inline-block;
}

.pGradient5 circle{
	display: inline-block;
    width: 185px;
    height: 185px;
   	stroke-dasharray: 1360;
}
.pGradient4:hover circle{
	animation: dash 4s linear;
	stroke-dasharray: 7 10;
}
.pGradient6{
	position: absolute;
    width: 179px;
    height: 179px;
    background-color: white;
    padding: 6px;
    border-radius: 70%;
    top: 82px;
    margin-left: 11px;
}
.profile-user-settings,
.profile-stats,
.profile-bio {
    float: left;
    width: calc(66.666% - 2rem);
}

.profile-user-settings {
    margin-top: 1.1rem;
}

.profile-user-name {
    display: inline-block;
    font-size: 3.2rem;
    font-weight: 300;
}

.profile-edit-btn {
    border: 1px solid #dbdbdb;
    padding: 3px 10px 3px 10px;
    border-radius: 7px;
    margin-left: 15px;
    font-size: 11pt;
    font-weight: bold;
}
video{
	width: 100%;
    height: 100%;
}
.profile-settings-btn {
    font-size: 2rem;
    margin-left: 1rem;
}

.profile-stats {
    margin-top: 2.3rem;
}

.profile-stats li {
    display: inline-block;
    font-size: 1.6rem;
    line-height: 1.5;
    margin-right: 4rem;
    cursor: pointer;
}

.profile-stats li:last-of-type {
    margin-right: 0;
}

.profile-bio {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 2.3rem;
}

.profile-stat-count {
    font-weight: 600;
}
.profile_pcnt,
.profile_fwo,
.profile_fwer{
	font-weight:bold;
}
.reels_content{
	position: absolute;
    width: 430px;
    height: 630px;
    background: black;
    top: 18%;
    left: 39%;
    border-radius: 20px;
}
.reels_area{
	height:100%;
}
.reels_video_area{
	height:100%;
}
.reels_icon{
	position: absolute;
    z-index: 150;
    bottom: 60px;
    right: 10px;
    color: white;
    display: flex;
    flex-direction: column;
}
.sprite_bubble_icon1{
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-top: 9px;
}
.sprite_share_icon1:hover{
	opacity:.6;
	cursor:pointer;
}
.sprite_bubble_icon1:hover{
	opacity:.6;
	cursor:pointer;
}
.view_cnt{
	font-size: 12pt;
    font-weight: bold;
    color: white;
    padding-top: 2px;
    padding-left: 13px;
}
.sprite_square_icon1{
	width: 30px;
    height: 30px;
    border: 2px solid white;
    border-radius: 5px;
    position: absolute;
    right: 15px;
    bottom: 25px;
}
.sprite_square_icon1:hover{
	opacity:.6;
	cursor:pointer;
}
.reels_cmt_area{
	  width: 100%;
	  height: 50%;
	  margin: 0;
	  padding: 0;
	  transition: all 600ms cubic-bezier(0.86, 0, 0.07, 1);
	  top: 100%;
	  position: absolute;
	  left: 0;
	  display:none;
	  border-radius: 0px 0px 10px 10px;
    z-index: 200;
}
.reels_user{
	color: white;
    position: absolute;
    bottom: 35px;
    left: 20px;
}
.fa-arrow-left{
	font-size:15pt;
}
.modal-open{
  top: 50%;
}
.reels_title_icon{
	width: 24px;
    position: absolute;
    height: 24px;
    right: 20px;
    top: 16px;
}
.reels_hcnt_area{
	padding-left: 6px;
    font-size: 9pt;
    font-weight: bold;
}
.reels_ccnt_area{
	margin-top: 5px;
    margin-bottom: 10px;
    padding-left: 7px;
    font-size: 9pt;
    font-weight: bold;
}
.heart_label{
	position: relative;
    top: 8px;
}
.reels_title{
	color: white;
    font-weight: 900;
    font-size: 15pt;
    position: absolute;
    left: 20px;
    top: 15px;
}
.sprite_more_icon1{
	width:24px;
	height:18px;
    margin: 20px 9px 20px 0px;
    display: flex;
    justify-content: center;
}
.sprite_more_icon1:hover{
	opacity:.6;
	cursor:pointer;
}
.music_img{
	width: 100%;
    height: 100%;
}
@keyframes music {
  0% {
    height: 0;
  }
  50% {
    height: 20px;
  }
  100% {
    height: 5px;
  }
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.equalizer {
 position: absolute;
    bottom: 15px;
    left: 57px;
    height: 20px;
    overflow: hidden;
}

.equalizer-item {
  display: inline-block;
  background: white;
  width: 3px;
  height: 20px;
}

.equalizer-none {
  opacity: 0;
}

.equalizer-1 {
  animation: music 0.5s linear infinite;
}

.equalizer-2 {
  animation: music 0.9s linear infinite;
}

.equalizer-3 {
  animation: music 0.7s linear infinite;
}
/* Gallery Section */

.gallery {
    display: flex;
    flex-wrap: wrap;
    margin: -1rem -1rem;
    padding-bottom: 3rem;
}

.gallery-item {
    position: relative;
    flex: 1 0 22rem;
    margin: 1rem;
    color: #fff;
    cursor: pointer;
}
.gallery-item:hover .gallery-item-info,
.gallery-item:focus .gallery-item-info {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}
.gallery-item1 {
    position: relative;
    flex: 1 0 22rem;
    margin: 1rem;
    color: #fff;
    cursor: pointer;
}
.gallery-item1:hover .gallery-item-info,
.gallery-item1:focus .gallery-item-info {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.gallery-item-info {
    display: none;
}

.gallery-item-info li {
    display: inline-block;
    font-size: 1.7rem;
    font-weight: 600;
}

.gallery-item-likes {
    margin-right: 2.2rem;
}

.fa-clone,
.fa-comment {
    transform: rotateY(180deg);
}

.gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Loader */

.loader {
    width: 5rem;
    height: 5rem;
    border: 0.6rem solid #999;
    border-bottom-color: transparent;
    border-radius: 50%;
    margin: 0 auto;
    animation: loader 500ms linear infinite;
}

/* Media Query */

@media screen and (max-width: 40rem) {
    .profile {
        display: flex;
        flex-wrap: wrap;
        padding: 4rem 0;
    }

    .profile::after {
        display: none;
    }

    .profile-image,
    .profile-user-settings,
    .profile-bio,
    .profile-stats {
        float: none;
        width: auto;
    }

    .profile-image img {
        width: 7.7rem;
    }

    .profile-user-settings {
        display: inline-flex;
    	min-width: 500px;
    }

    .profile-user-name {
        font-size: 2.2rem;
    }

    .profile-edit-btn {
        order: 1;
        padding: 0;
        text-align: center;
        margin-top: 1rem;
    }

    .profile-edit-btn {
        margin-left: 0;
    }

    .profile-bio {
        font-size: 1.4rem;
        margin-top: 1.5rem;
    }

    .profile-edit-btn,
    .profile-bio,
    .profile-stats {
        flex-basis: 100%;
    }

    .profile-stats {
        order: 1;
        margin-top: 1.5rem;
    }

    .profile-stats ul {
        display: flex;
        text-align: center;
        padding: 1.2rem 0;
        border-top: 0.1rem solid #dadada;
        border-bottom: 0.1rem solid #dadada;
    }

    .profile-stats li {
        font-size: 1.4rem;
        flex: 1;
        margin: 0;
    }

    .profile-stat-count {
        display: block;
    }
}

/* Spinner Animation */

@keyframes loader {
    to {
        transform: rotate(360deg);
    }
}

/*

The following code will only run if your browser supports CSS grid.

Remove or comment-out the code block below to see how the browser will fall-back to flexbox & floated styling. 

*/
/* style.css */ /* 숨기려는 버튼을 골라서 쓰자 */ /* 전체화면 버튼 */ 
video::-webkit-media-controls-fullscreen-button {
	display: none !important; 
} 
/* 일시정지, 재생 버튼 */ 
video::-webkit-media-controls-play-button {
	display: none !important; 
} 
/* 재생 슬라이드..? */
video::-webkit-media-controls-timeline {
	display: none !important; 
} 
/* 현재 진행 시간 */ 
video::-webkit-media-controls-current-time-display{
	display: none !important; 
} 
/* 전체 시간 */ 
video::-webkit-media-controls-time-remaining-display {
	display: none !important; 
} 
/* 음소거 버튼 */ 
video::-webkit-media-controls-mute-button {
	display: none !important; 
} 
/* 볼륨 조절 슬라이드 */ 
video::-webkit-media-controls-volume-slider {
	display: none !important; 
} 
/* 괄호에 display: none !important; 를 추가하면된다. 예 ) 전체화면 전환 버튼을 숨긴다. 다만 더블클릭으로 전체화면이 되는 기능등은 그대로고 단지 버튼만 없앤다. */ 
video::-webkit-media-controls-fullscreen-button { 
	display: none !important; 
}
::-webkit-media-controls {
    display:none !important;
}
video::-webkit-media-controls {
    display:none !important;
}
video::-webkit-media-controls-enclosure {
    display:none !important;
}
video::-webkit-media-controls-fullscreen-button {
    display:none !important;
}
.muted_btn{
	position: absolute;
    bottom: 20px;
    right: 15px;
    font-size: 13pt;
    background: black;
    width: 30px;
    padding: 6px;
    height: 30px;
    border-radius: 70%;
    color: white;
}
.muted_btn1{
	position: absolute;
    top: 45%;
    right: 45%;
       
}
.vmute{
	width: 50px;
    padding: 11px;
    height: 50px;
    border-radius: 70%;
    background: rgba(0,0,0,0.6);
    color: white;
    font-size: 20pt; 
}
.vup{
	width: 50px;
    padding: 11px;
    height: 50px;
    border-radius: 70%;
    background: rgba(0,0,0,0.6);
    color: white;
    font-size: 20pt; 
}
.mute_area{
	position: absolute;
    width: 86%;
    height: 100%;
    top: 0;
}
.hicon{
	animation: heartbeat 1s infinite;
    font-size: 150pt;
    color: white;
    position: absolute;
    right: -82px;
    top: -82px;
}
@keyframes heartbeat
{
  0%
  {
    transform: scale( .75 );
  }
  20%
  {
    transform: scale( 1 );
  }
  40%
  {
    transform: scale( .75 );
  }
  60%
  {
    transform: scale( 1 );
  }
  80%
  {
    transform: scale( .75 );
  }
  100%
  {
    transform: scale( .75 );
  }
}
.play_btn{
	position: absolute;
    /* top: 45%; */
    top: 0;
    width: 0%;
    height: 0%;
    left: 0;
    font-size: 80pt;
    color: black;
    text-shadow: -3px 6px 0px rgb(0 0 0 / 25%);
}
.fa-play1{
	position:absolute;
	top:45%;
	left:45%;
	color:white;
}
@supports (display: grid) {
    .profile {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: repeat(3, auto);
        grid-column-gap: 3rem;
        align-items: center;
    }

    .profile-image {
        grid-row: 1 / -1;
    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
        grid-gap: 2rem;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 300px 300px 300px;
    }

    .profile-image,
    .profile-user-settings,
    .profile-stats,
    .profile-bio,
    .gallery-item,
    .gallery-item1,
    .gallery {
        width: auto;
        margin: 0;
    }

    @media (max-width: 40rem) {
        .profile {
            grid-template-columns: auto 1fr;
            grid-row-gap: 1.5rem;
        }

        .profile-image {
            grid-row: 1 / 2;
        }


        .profile-edit-btn,
        .profile-stats,
        .profile-bio {
            grid-column: 1 / -1;
        }

        .profile-user-settings,
        .profile-edit-btn,
        .profile-settings-btn,
        .profile-bio,
        .profile-stats {
            margin: 0;
        }
    }
}
