@charset "UTF-8";

.pGradient{
	width: 77px;
    height: 70px;
    position: relative;
    top: 33px;
    left: 1px;
}

.pGradient circle{
	display: inline-block;
    width: 50px;
    height: 50px;
   	stroke-dasharray: 1360;
}
.pGradient0:hover circle{
	animation: dash 4s linear forwards;
}
 @keyframes dash {
      to {
        stroke-dasharray: 100 0;
      }
 }
 .pGradient1{
 	display: flex;
 }
 .pGradient2{
	width: 42px;
    height: 42px;
    position: relative;
}

.pGradient2 circle{
	display: inline-block;
    width: 50px;
    height: 50px;
   	stroke-dasharray: 1360;
}
.pGradient1:hover circle{
	animation: dash 4s linear forwards;
}
 @keyframes dash {
      to {
        stroke-dasharray: 100 0;
      }
 }
 .user_name{
 	position: relative;
    right: 32px;
    top: 3px;
 }