@charset "UTF-8";


.m_text{
    font-size: 14px;
    font-weight: bold;
}

.s_text{
    font-size: 12px;
}


body{
    background:#fafafa;
}


#header{
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;
    background:white;
    border-bottom:1px solid rgba(0,0,0,0.1);
}

#header.on{
    position: fixed;
}




#header .inner{
    width: 975px;
    height: 77px;
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    transition:all 1s;
}

#header.on .inner{
    height:52px;
}

#header .inner .logo > a{
    color:transparent;
}

#header .inner .logo .sprite_insta_icon{
    position: relative;
    margin-right: 30px;
}

#header .inner .logo .sprite_insta_icon:after{
    content: '';
    width: 1px;
    height: 28px;
    background: #000;
    position: absolute;
    right: -15px;
    top: -4px;
    transition:all .5s;
}
#header .inner .logo div{
    vertical-align: middle;
}

#header .inner .logo div:nth-child(2){
    transform:translateY(2px);
    transition:all .5s;
}

#header.on .inner .logo .sprite_insta_icon:after{
    opacity: 0;
}
#header.on .inner .logo div:nth-child(2){
    opacity: 0;
}

#header .search_box{

    position:relative;
}


#search-field{
    width: 185px;
    height: 28px;
    background:#fafafa;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    padding:3px 30px;
    color:#999;
    font-weight: 400;
    text-align: left;
    font-size: 14px;
    outline:none;
}

#search-field::placeholder{
    font-size: 0;
}

#search-field:focus::placeholder{
    font-size: 14px;
}


#header .search_box .fake_field{
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%);
    pointer-events: none;
}


#search-field:focus ~ .fake_field > span:nth-child(1){
    transform:translateX(-105px);
}


#search-field:focus ~ .fake_field > span:nth-child(2){
    display: none;
}

#header .right_icons{
    width: 132px;
    display: flex;
    justify-content: space-between;
}
#header .right_icons > div{

}



#main_container{
    padding-top: 75px;
    display: flex;
    justify-content: center;
}

#main_container .inner{
    width: 935px;
    /*height: 500px;*/
    /*background: red;*/
    position: relative;

}

.contents{
    max-width: 614px;
    border: 1px solid rgba(0,0,0,0.09);
    border-radius: 3px;
    margin-bottom: 60px;
    background: white;
}
.cmt_area{
	display: flex;
    padding-left: 6px;
}

.contents .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid rgba(0,0,0,0.09);
}



.contents .top .profile_img{
   	width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
    position: relative;
    top: 4px;
    right: 37px;
}


.contents .top .profile_img img{
    width: 100%;
}


.contents .top .user_container{
    display: flex;
}
.contents .sprite_more_icon{
    position: relative;
}

.contents .toggle_box{
    text-align: center;
    position: absolute;
    right: 0;
    top: 20px;
    border: 1px solid rgba(0,0,0,0.09);
    border-radius: 3px;
    display: none;
}

.contents .sprite_more_icon.on .toggle_box{
    display: block;
}

.contents .toggle_box > li{
    padding: 5px 10px;
    background: white;
}

.contents .toggle_box > li input{
    border: none;
    font-size: inherit;
}

.contents .img_section{
    overflow:hidden;
}

.contents .img_section img{
    width: 100%;
    position: absolute;
    bottom: 68px;
}
.hLabel{
	display: inline-block;
    height: 23px;
    width: 20px;
}
.heart_btn{
	padding-right: 13px;
}
.left_icons{
	height: 23px;
}
.contents .bottom_icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px 0px 20px;
    border-top:1px solid rgba(0,0,0,0.09);
}

.contents .bottom_icons .left_icons{
    display: flex;
}

.contents .bottom_icons .left_icons > div{
    cursor:pointer;
}

.contents .bottom_icons .right_icon > div{
    cursor: pointer;
}

.sprite_heart_icon_outline.on {
    background: url('../imgs/background01.png') no-repeat -26px -261px;
}
.total_cmt_cnt{
	text-decoration: none;
    padding-left: 12px;
    color: #8e8e8e;
    line-height: inherit;
    font-size: 10pt;
}
.nick_name a:link{
	text-decoration:none;
	color:#262626;
}
.nick_name a:visited{
	text-decoration:none;
	color:#262626;
}
.nick_name a:hover{
	text-decoration:underline;
}

.cmt_list a:link{
	text-decoration:none;
	color:#262626;
}
.cmt_list a:visited{
	text-decoration:none;
	color:#262626;
}
.cmt_list a:hover{
	text-decoration:underline;
}

.total_cmt_cnt:link{
	text-decoration: none;
    color: #8e8e8e;
}
.total_cmt_cnt:visited{
	text-decoration: none;
    color: #8e8e8e;
}

.contents .likes{
    padding: 5px 20px;
    color:#262626;
}
.head_text{
	font-size: 14px;
    font-weight: bold;
    padding-top: 6px;
}
.contents .comment_container{
 	display: flex;
    align-items: flex-start;
    padding: 0px 0px 7px 7px;
    max-height: 100px;
    flex-direction: column;
}
.cmtMore{
	padding-top: 9px;
    padding-left: 10px;
    font-size: 13pt;
    color: #aaa;
}
.cmtMore:hover{
	color: rgb(38, 38, 38);
}
.contents .comment_container .comment{
    display:flex;
    flex-direction: column;
    font-size: 14px;
}
.ccon{
	padding-left: 10px;
    padding-top: 5px;
}
.contents .comment_container .comment-detail{
    display: flex;
}
.detail{
	display:inline-flex;
}
.contents .comment_container .comment .nick_name{
    margin-right: 10px;
}


.contents .timer{
    font-size: 10px;
    letter-spacing: 0.2px;
    color: #999;
    padding: 10px 0px 6px 10px;
}


.contents .comment_field{
    min-height:56px;
    padding: 0 20px;
    position: relative;
    border-top: 1px solid rgba(0,0,0,0.09);
}


.contents .comment_field input{
    width: 100%;
    height: 56px;
    border: none;
    outline:none;
    background: transparent;
}

.contents .comment_field input:focus ~ .upload_btn{
    pointer-events: initial;
    opacity: 1;
}

.contents .comment_field .upload_btn{
    color:#3897f0;
    position: absolute;
    right: 20px;
    top: 50%;
    transform:translateY(-50%);
    cursor: pointer;
    /*pointer-events: none;*/
    opacity: 0.6;
}


.side_box{
    width: 293px;
    /*height: 300px;*/
    /*background: rgba(255, 0, 0, 0.16);*/
    position:absolute;
    right: 0;
    top: 0;

}

.side_box.on{
    position: fixed;
    top: 80px;
}

.rec_user{
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.rec_user .rec_profile{
    width: 34px;
    height: 34px;
}


.rec_user .rec_time{
    font-size: 10px;
    letter-spacing: 0.2px;
    color:#999;
}

.follow_thumb{
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.follow_thumb .profile_thumb{
    width: 34px;
    height: 34px;
}


.follow_thumb .time{
    font-size: 10px;
    letter-spacing: 0.2px;
    color:#999;
}

.side_box .profile_thumb{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow:hidden;
    margin-right: 10px;
}


.side_box .profile_thumb img{
    width: 100%;
    height:100%;
}

.side_box .user_profile{
    display: flex;
    align-items: center;
    font-size: 14px;
    color:#262626;
}
.side_box .detail .rec_id .fo_id{
    margin-bottom: 5px;
}

.side_box .detail .ko_name{
    font-size: 12px;
    color:#999;
}


.side_box > article{
    border: 1px solid rgba(0,0,0,0.09);
    border-radius: 3px;
    margin-bottom: 20px;
    width: 291px;
    font-size: 14px;
    color:#262626;
    font-weight: bold;
    background: white;
}

.side_box > article > header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    color:#999;
}


.side_box > article > header .more{
    font-size: 12px;
    color:#262626;
    cursor:pointer;
}
.rec_area{
	display: flex;
    overflow: auto;
    max-height: 400px;
    flex-direction: column;
}
.rec_follow{
	position: absolute;
    right: 25px;
}
.fospan{
	color:#0095f6;
}
.fispan{
	color:#aaa;
}
.rec_user{
	display:inline-flex;
	padding-left:10px;
}
.side_box .scroll_inner{
    height: 182px;
    overflow-x: hidden;
    overflow-y: auto;
    /*overflow:hidden auto;*/

}

.hidden_menu{
    width: 49%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 50px;
    overflow: hidden;
    border: 1px solid rgba(0,0,0,0.09);
    border-radius: 3px;
    background: white;
}
.follow_next{
	margin-right: 10px;
    width: 26px;
    height: 26px;
    top: 35px;
    right:0;
    position: absolute;
    cursor: pointer;
    z-index: 2; 
    background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='chevron-circle-right' class='svg-inline--fa fa-chevron-circle-right fa-w-16' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='rgba(229,229,229)' d='M256 8c137 0 248 111 248 248S393 504 256 504 8 393 8 256 119 8 256 8zm113.9 231L234.4 103.5c-9.4-9.4-24.6-9.4-33.9 0l-17 17c-9.4 9.4-9.4 24.6 0 33.9L285.1 256 183.5 357.6c-9.4 9.4-9.4 24.6 0 33.9l17 17c9.4 9.4 24.6 9.4 33.9 0L369.9 273c9.4-9.4 9.4-24.6 0-34z'%3E%3C/path%3E%3C/svg%3E");
}
.follow_prev{
	margin-left: 10px;
    width: 26px;
    height: 26px;
    top: 35px;
    left:0;
    position: absolute;
    cursor: pointer;
    z-index: 2;
    background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='chevron-circle-left' class='svg-inline--fa fa-chevron-circle-left fa-w-16' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='rgba(229,229,229)' d='M256 504C119 504 8 393 8 256S119 8 256 8s248 111 248 248-111 248-248 248zM142.1 273l135.5 135.5c9.4 9.4 24.6 9.4 33.9 0l17-17c9.4-9.4 9.4-24.6 0-33.9L226.9 256l101.6-101.6c9.4-9.4 9.4-24.6 0-33.9l-17-17c-9.4-9.4-24.6-9.4-33.9 0L142.1 239c-9.4 9.4-9.4 24.6 0 34z'%3E%3C/path%3E%3C/svg%3E");
}
.user .fo_id{
	text-decoration:none;
	color:#262626;
	font-size: 14px;
    font-weight: bold;
    padding-top: 6px;
}
.user .fo_id:hover{
	color:#262626
}
.user .fo_id:link{
	color:#262626
}
.user .fo_id:visited{
	color:#262626
}
.hidden_menu .scroll_inner{
    height: 100px;
    width: auto;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    padding: 0 40px;
	scroll-behavior: smooth;
}

.hidden_menu .scroll_inner .user{
   	width: 80px;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 15px;
    justify-content: space-between;
    position: relative;
    bottom: 35px;
}

.hidden_menu .scroll_inner .user .rec_id .fo_id{
    font-size: 12px;
    color:#262626;
}
.hidden_menu .thumb_img{
    width: 56px;
    height: 56px;
    border-radius: 50%;
    overflow: hidden;
}

.hidden_menu .thumb_img img{
    width: 100%;
    height: 100%;
}

@media screen and (max-width:1000px){

    #header .inner{
        width: 97.5%;
    }

    #main_container{
        padding-top: 220px;
    }
    #main_container .inner{
        width: 93.5%;

    }

    .contents_box{
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .side_box{
        display: none;
    }


    .hidden_menu{
        display:block;

    }
}

@media screen and (max-width:650px){

    #header .search_box{
        display:none;
    }

    .hidden_menu{
        width: 43%;
    }


}















